.picture-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .selected-picture {
        position: relative;

        img {
            @media screen and (max-width: $break-small) {
                width: 100%;
                height: auto;
            }
        }
        .caption {
            position: absolute;
            bottom: $spacing-unit * 2;
            background: $dark;
            color: #fff;
            width: 100%;
            background: rgba($dark, .5);

            p{
                margin-left: $spacing-unit * 5;
                margin-right: $spacing-unit * 5;
            }
        }
    }
}