.picture-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .selected-picture {
        position: relative;

        img {
            max-height: 50vh;
            width: auto;

            @media screen and (max-width: $break-small) {
                max-height: 60vh;
                height: auto;
            }

            @media screen and (max-height: $break-medium) {
                max-height: 100vh - 30;
            }
        }
        .caption {
            position: absolute;
            bottom: $spacing-unit * 2;
            background: $dark;
            color: #fff;
            width: 100%;
            background: rgba($dark, .5);

            p{
                margin-left: $spacing-unit * 5;
                margin-right: $spacing-unit * 5;
                font-weight: 600
            }
        }
    }
}