.selector-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: $dark;
    color: $light;
    flex-wrap: nowrap;
    overflow-x: auto;
}