.thumbnail-container {
    margin: $spacing-unit * 5;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:hover,
    &.highlight {
        background: blue;
    }

    @media screen and (max-height: $break-medium) {
        display: none
    }

    img {
        padding: $spacing-unit * 5;
        max-height: 200px;
        width: auto;

        @media screen and (max-width: $break-small) {
            max-height: 90px;
        }
    }
}