@import 'constants';
@import 'search';
@import 'picture';
@import 'navigationarrow';
@import 'selectorcontainer';
@import 'teaserbox';
html {
    height: 100%;

    body {
        margin: 0;
        background: $background;
        height: 100%;

        #root {
            height: 100%;

            .container {
                height: 100%;
                display: flex;
                flex-direction: column;

                .topnav {
                    display: flex;
                    justify-content: center;
                    height: 65px;
                    background: $primary;

                    @media screen and (max-width: $break-small) {
                        height: 55px;
                    }
                }

                .picture-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                }
            }
        }
    }
}