.nav-btn {
    position: absolute;
    background: $secondary;
    border: none;
    color: $contrast;
    padding: $spacing-unit * 10;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size;
    margin: $spacing-unit * 2 $spacing-unit;
    border-radius: $radius;
    cursor: pointer;
    z-index: 100;

    &.left-arrow {
        left: 0;
        margin-left: $spacing-unit * 50;
    }

    &.right-arrow {
        right: 0;
        margin-right: $spacing-unit * 50;
    }

    @media screen and (max-width: $break-small) {
        background: rgba($secondary, .7);

        &.left-arrow {
            margin-left: 0;
        }

        &.right-arrow {
            margin-right: 0;
        }
    }
}