.nav-btn {
    position: absolute;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: $spacing-unit * 10;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size;
    margin: $spacing-unit * 2 $spacing-unit;
    border-radius: $radius;
    cursor: pointer;

    &.left-arrow {
        left: 25%
    }

    &.right-arrow {
        right: 25%
    }

    @media screen and (max-width: $break-small) {
        &.left-arrow {
            left: 0
        }
    
        &.right-arrow {
            right: 0
        }
    }
}